.footer__column-link{
    align-items: center;
    display: flex;
    color: white;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    text-decoration: none;
}

.footer__column-link:hover{
    transition: 0.3s;
    transform: scale(1.2);
}