.resources__logo{
    width: 240px;
    height: 38px;
    margin: 0;
    transition: 0.3s;
}

.resources__logo:hover{
    transition: 0.3s;
    animation-direction: alternate;
    transform: scale(0.8);
}